* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #d4cbc5;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

#card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

#new-book{
    margin-top: 12px;
    border: none;
    font-size: 24px;
    background-color: #701a14;
    color: #edfcee;
    border-radius: 10px;
    padding: 6px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#new-book:hover,
.change-read-button:hover,
.remove-button:hover {
    background-color: #851e17;
}

#new-book:active,
.change-read-button:active,
.remove-button:active {
    background-color: #a8271e;
}

.empty-message{
    font-size: 20px;
    background-color: #d9d7d7;
    width: 80%;
    text-align: center;
    border-radius: 10px;
    padding: 6px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.book-card{
    display: grid;
    font-size: 18px;
    gap: 6px;
    background-color: #d9d7d7;
    border-radius: 24px;
    padding: 12px;
    width: fit-content;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.book-card ul {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.book-card li {
    list-style-type: none;
}

.button-container{
    align-self: end;
}

.remove-button {
    grid-column: 2 / 3;
    justify-self: end;
    align-self: start;
    font-size: 12px;
    padding: 2px 8px;
    border: none;
    background-color: #701a14;
    color: #edfcee;
    border-radius: 50%;
    margin-left: 4px;
}


.change-read-button {
    font-size: 16px;
    margin-top: 4px;
    padding: 6px;
    border: none;
    background-color: #701a14;
    color: #edfcee;
    border-radius: 8px;
}

#add-book-dialog{
    position: absolute;
    float: left;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 300px;
    border: 4px solid #52120e;
    background-color: #d4cbc5;
}

.form-row{
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

.form-row input[type=text],
input[type=number]{
    background-color: #e0dede;
    border: 1px solid #c9c7c7;
    border-radius: 3px;
    width: 100%;
    padding: 4px;
    font-size: 14px;
}

.form-row label {
    margin-bottom: 6px;
}

.dialog-radio-btns{
    border: none;
}

.dialog-radio-btns .radio-label{
    padding-left: 10px;
}

.dialog-radio-btns legend{
    float: left;
    text-align: right;
}

.dialog-radio-btns input[type=radio]{
    margin-top: 2px;
}

dialog button {
    border: none;
    font-size: 14px;
    background-color: #701a14;
    color: #edfcee;
    border-radius: 8px;
    padding: 6px;
}